.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-position: top;
    background-size: cover;
}

.hero-title {
    padding: 50px 100px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}