.team-card-container {
  width: 100%;
  background: #fff;
  margin: 3px 0;
  border-radius: 25px; 
  display: flex;
  align-items: center;
}
.card-body {
  height: auto;
}  
.team-card-teams {
  text-transform: uppercase;
}
.team-card-column {
  display: flex;
  flex-direction: column !important;
  padding: 0px 20px;
  text-align: left;
}
.team-card-center {
  border-left: 1px dashed rgba(255, 255, 255, 0.2);
  border-right: 1px dashed rgba(255, 255, 255, 0.2);
  padding-left: 30px;
}
.cvc {
  justify-content: space-between;
}
.team-card-container h3 {
  font-size: 22px;
  margin: 0;
}
.team-card-container h4 {
  font-size: 18px;
}
.team-card-container h5 {
  font-size: 16px;
}
.team-card-container h6 {
  font-size: 14px;
}

.team-card-container span {
  font-size: 13px;
}
.section-title {
  font-size: 13px;
  margin-bottom: 15px;
  padding-top: 5px;
}