.news-section {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 30px !important;
    height: 30px !important;
    margin: auto 0;
    opacity: 0.8;
}

.carousel .slide {
    height: auto;
    background: #19194B;
    border-radius: 20px;
}

.carousel-inner {
    height: 100%;
    color: aliceblue;
    padding: 10px 30px;
}

.new {
    min-height: 300px;
    height: 300px !important;
    margin: auto 0;
    padding: 20px 40px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}

.new-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.new-content h3 {
    font-size: 1.5rem;
}
.new-content a {
    align-self: flex-end;
}
.carousel-item img {
    height: 170px;
    border-radius: 10px;
}

.carousel-caption {
    left: 0px;
}
@media (max-width: 998px) {
    .new {
        min-height: 300px;
        height: auto !important;
        margin: auto 0;
        padding: 20px 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
        align-items: center;
    }
    .new-content a {
        align-self: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 468px) {
    .new {
        padding: 20px 20px;
        margin: 0 auto;
        max-width: 640.50px;
    }
   
}
