:root {
  --bg-blue: #2D3CFF;
  --bg-darkblue: #19194B;
  --color-red: #FF3000;
  --color-pink: #FF5573;
  --color-green: #78DCAA;
  --color-purple: #CD73D7;
  --color-lightblue: #50C8E6;
  --color-blue: #2D3CFF;
  --color-darkblue: #19194B;
  ;
}

