.leaflet-container {
    /* height: 500px !important;
    background-color: blue;
    max-width: 600px; */
    width: 100%;
    height: 60vh;
}
.venues{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.venues .slogan {
    width: 69%;
    margin: auto;
    color: #fff;
    text-align: center;
}
@media(max-width: 768px) {
    .venues{
        grid-template-columns: repeat(1,1fr);
        padding: 30px 20px;
    }
    .venues .slogan {
        padding: 20px 0px;
        width: 90% !important;
    }
    .leaflet-container {
        border-radius: 25px;
        height: 50vh;
    }
}
